body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
	/* TODO: 이 곳을 채우세요! */
	display: grid;
	grid-template-columns: 200px 1fr 300px;
}

.main {
	background-color: skyblue;
	/* TODO: 이 곳을 채우세요! */
}

.main header {
	background-color: lightgray;
	/* TODO: 이 곳을 채우세요! */
	height: 30px;
}

.left {
	background-color: pink;
	/* TODO: 이 곳을 채우세요! */
}

.right {
	background-color: greenyellow;
	/* TODO: 이 곳을 채우세요! */
}

footer {
	background-color: yellow;
	/* TODO: 이 곳을 채우세요! */
	height: 50px;
}
