body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
	/* TODO: 이 곳을 채우세요! */
	display: flex;
	height: 100%;
}

.main {
	background-color: skyblue;
	/* TODO: 이 곳을 채우세요! */
	position: relative;
	flex: 1;
}

.main header {
	background-color: lightgray;
	/* TODO: 이 곳을 채우세요! */
	height: 30px;

}

.left {
	background-color: pink;
	/* TODO: 이 곳을 채우세요! */
	flex-basis: 200px;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	padding-bottom: 50px;
}

.right {
	background-color: greenyellow;
	/* TODO: 이 곳을 채우세요! */
	flex-basis: 300px;
	flex-shrink: 0;
	flex-grow: 0;
	padding-bottom: 50px;
}

footer {
	background-color: yellow;
	/* TODO: 이 곳을 채우세요! */
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 50px;
}
