body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main {
	background-color: skyblue;
	/* TODO: 이 곳을 채우세요! */
	position: absolute;
	margin-left: 200px;
	margin-right: 300px;
	width: auto;
}

.left {
	background-color: pink;
	/* TODO: 이 곳을 채우세요! */
	width: 200px;
	float: left;
}

.right {
	background-color: greenyellow;
	/* TODO: 이 곳을 채우세요! */
	float: right;
	width: 300px;
}
