.desktop{
    background-image: url("./img/background.jpeg");
    background-size: contain;
}


.desktop .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30px;
    left: 50px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.window{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: #58bfe2;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.top{
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color: #d9eaff;
}

.name{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 5px;
}

.xbox{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    right: 0;
}

.changeBT{
    position: absolute;
    right: 0;
    top: 10px;
}

/* 
.desktop .window{
    visibility: hidden;
    position: absolute;
    width: 500px;
    height: 300px;
    top: 50px;
    left: 30px;
    z-index: 100;
    border-style: solid;
    border-color: #d1d1d1;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgba(255,255,255,0.7);
}

.desktop .window .top{
    display: flex;
    align-content: center;
    width: 100%;
    height: 30px;
    background-color: #2628d8;
}

.desktop .window .title {
    position: relative;
    font-size: 22px;
    color: midnightblue;
    margin-left: 10px;
}

.desktop .window .xbox {
    position: absolute;
    width: 25px;
    height: 28px;
    right: 0;
    top: 0;
    background: red;
    border-width: 2px;
    border-color: red;
    border-radius: 5px;
}

.desktop .window .xbox .x {
    font-size: 25px;
    margin-left: 5px;
    color: #edf2f9;
} */