/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
.desktop{
    position: relative;
    height: 300px;
    background-color: burlywood;
}

.desktop .icon{
    position: absolute;
    top: 10px;
    left: 20px;
    background: transparent;
    border-style: none;
}

.desktop .folder{
    background: transparent;
    border-style: none;
}

.desktop .icon .iconImg{
    width: 50px;
    height: 50px;
}

.box{
    position: absolute;
    width: 50px;
    height: 50px;
    top:10px;
    left: 10px;
    background-color: cornflowerblue;
}

