.monitor{
	display: flex;
	justify-content: flex-start;
}

.firstDesktop {
	position: relative;
	display: block;
	width: 50%;
	margin: 0;
	height: 100vh;
	border: 1px solid black;
}

.secondDesktop {
	position: relative;
	display: block;
	width: 50%;
	margin: 0;
	height: 100vh;
	border: 1px solid black;
}
